html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of reset code*/


/*My Code*/

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #191919;
    font-family: 'Kanit', sans-serif;
}


/* Content Wrapper */

.contentwrapper {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    position: relative;
    height: 100vh;
}

/* Logo */

.logo {
    position: relative;
    top: 20%;
}

#logo_img {
    width: 40vh;
    text-align: center;
}

/* Name */

#name {
    font-size: 7vh;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    color: #D6D6D6;
}

/* Tag Line */

#tag_line {
   padding: 40px 0 0 0;
   color: #D6D6D6;
   font-weight: 200; 
}


/* Coming Soon */

#comingSoon {
    color: #29A596;
    padding: 90px 0 0 0;
    font-size: 20px;
    
    
}

/* 
@media only screen and (max-width: 420px) {
    body {
        background-color: #29A596;
    }

    #comingSoon {
        color: #D6D6D6;
    }
  }
*/
